<!DOCTYPE html>

<html>

    <head>
        <title>My shaandar todolist</title>
        <style>
            a {
                text-decoration: none;
                color: green;
            }

        </style>
    </head>

    <body>
        <h1>TrainWithShubham Community is Super Super Awesome!!! </h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>
        
    </body>

</html>
